.hero { background-image: url("../img/bg/hero_bg.png"); background-repeat: no-repeat; background-position: 50%; background-size: cover; position: relative; }

.header { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 10px; }

.header__logo { margin-right: auto; }

.nav { margin-right: 0.9375rem; }

.nav__list { margin: 0; padding: 0; }

.nav__item { display: inline-block; vertical-align: middle; white-space: nowrap; }
.nav__item:after { display: inline-block; vertical-align: middle; content: ' '; width: 5px; height: 5px; border-radius: 2.5px; background-color: #fff; margin: 0 12px; }
.nav__item:last-child:after { display: none; }

.nav__link { color: #ffffff; font-size: 13px; font-weight: 500; line-height: 1.42; text-transform: uppercase; text-decoration: none; display: inline-block; vertical-align: middle; -webkit-transition: .5s; transition: .5s; }
.nav__link:hover { text-decoration: underline; }

.hero__container { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.hero__content { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-bottom: 15%; }

.hero__img, .hero__description { -ms-flex-preferred-size: 50%; flex-basis: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.hero__description { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.section__title { color: #f9b43b; font-family: 'Gagalin-Regular'; font-size: 72px; font-weight: 400; line-height: 1.42; margin: 0; padding-top: 60px; }

.hero__description-text { color: #ffffff; font-family: 'Lifehack-Medium'; font-size: 65px; font-weight: 500; line-height: 1; }

.best { background: url("../../img/best.png") no-repeat; background-size: cover; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-position: center center; }
.best .section__title { margin-bottom: 5rem; margin-top: -3.4375rem; }

.best__icon-pic { width: 90%; height: 6.25rem; }
.best__icon-pic svg { max-width: 95%; }

.best__list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.best__item { margin-bottom: 3.125rem; padding: 0 0.9375rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.best__desc { text-align: center; }

.best__title { font-size: 1.5rem; font-family: 'Lifehack-Medium'; color: #2f3234; margin-bottom: 0.4375rem; }

.section { height: 100vh; min-height: 40.625rem; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; }
@media screen and (max-width: 768px) { .section { min-height: auto; } }

.section__title { color: #f8b43a; font-size: 4.5rem; font-family: 'Gagalin-Regular', Helvetica, sans-serif; margin-bottom: 2.1875rem; }
.section__title.section__title_black { color: #2f3234; }
.section__title.section__title_white { color: white; }
@media screen and (max-width: 768px) { .section__title { font-size: 3.75rem; margin-bottom: -1.1875rem; } }

.reviews { background: #000; }

.reviews__list { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.reviews__item { width: 25%; height: 50%; position: relative; }
@media screen and (max-width: 768px) { .reviews__item { width: 50%; height: 25%; } }

.review { position: relative; width: 100%; height: 100%; }
.review:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: transparent; -webkit-transition: .3s; transition: .3s; }
.review:hover .review__hover { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); opacity: 1; }
.review:hover:after { background: rgba(20, 20, 20, 0.7); }

.review__photo { width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.review__hover { position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-50%, -50%) scale(0.7); transform: translate(-50%, -50%) scale(0.7); opacity: 0; padding: 17% 12% 0; -webkit-transition: .3s; transition: .3s; z-index: 10; }
@media screen and (max-width: 768px) { .review__hover { font-size: 0.875rem; padding: 0 12%; text-align: center; } }

.review__title { color: #fff; font-family: 'Gagalin-Regular', Helvetica, sans-serif; font-size: 0.875rem; margin-bottom: 1.5625rem; }
@media screen and (max-width: 768px) { .review__title { margin-bottom: 0.875rem; } }

.review__shorttext { color: #ffffff; font-size: 0.875rem; font-family: 'Ubuntu', Helvetica, sans-serif; font-weight: 300; margin-bottom: 0.8125rem; }
@media screen and (max-width: 480px) { .review__shorttext { display: none; } }

.review__view { border-radius: 0.3125rem; background-color: #2f3234; padding: 0.5rem 0.75rem; display: inline-block; color: #ffffff; text-decoration: none; text-transform: uppercase; font-family: 'Ubuntu', Helvetica, sans-serif; font-weight: 500; font-size: 0.75rem; -webkit-transition: .3s; transition: .3s; }
.review__view:hover { background-color: #1f2122; }

.reviews-popup { display: none; width: 50%; border-radius: 5px; }
@media screen and (max-width: 480px) { .reviews-popup { width: 95%; } }
.reviews-popup h2 { margin-bottom: 0; }
.reviews-popup .reviews__text { color: #2f3234; }
@media screen and (max-width: 480px) { .reviews-popup .reviews__text { display: inherit; } }

.reviews-popup__title { font-family: 'Gagalin-Regular', Helvetica, sans-serif; font-size: 0.875rem; color: #2f3234; margin-bottom: 1.5625rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.close__link { display: block; outline: none; }

.fancybox-close-small { display: none; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html { line-height: 1.15; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers (opinionated). */
body { margin: 0; }

/** Add the correct display in IE 9-. */
article, aside, footer, header, nav, section { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in IE. */
figcaption, figure, main { /* 1 */ display: block; }

/** Add the correct margin in IE 8. */
figure { margin: 1em 40px; }

/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { -webkit-box-sizing: content-box; box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ }

/** 1. Remove the bottom border in Chrome 57- and Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font style in Android 4.3-. */
dfn { font-style: italic; }

/** Add the correct background and color in IE 9-. */
mark { background-color: #ff0; color: #000; }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Add the correct display in IE 9-. */
audio, video { display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }

/** Remove the border on images inside links in IE 10-. */
img { border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers (opinionated). 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: sans-serif; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** 1. Add the correct display in IE 9-. 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Remove the default vertical scrollbar in IE. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. */
details, menu { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Scripting ========================================================================== */
/** Add the correct display in IE 9-. */
canvas { display: inline-block; }

/** Add the correct display in IE. */
template { display: none; }

/* Hidden ========================================================================== */
/** Add the correct display in IE 10-. */
[hidden] { display: none; }

@font-face { font-family: 'Gagalin-Regular'; src: url("../fonts/Gagalin-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Lifehack-Medium'; src: url("../fonts/Lifehack-Medium.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Ubuntu'; src: url("../fonts/Ubuntu-Light.woff") format("woff"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Ubuntu'; src: url("../fonts/Ubuntu-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Ubuntu'; src: url("../fonts/ubuntu-b-webfont.woff") format("woff"); font-weight: bold; font-style: normal; }
body { margin: 0; padding: 0; font-size: 16px; font-family: 'Ubuntu', Arial, Helvetica, sans-serif; line-height: 1.42; color: #2f3234; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { height: 100%; }

ul { margin: 0; padding: 0; list-style: none; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; -webkit-clip-path: inset(100%); clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden; }

.wrapper { width: 100%; height: 100%; position: relative; }

.maincontent { height: 100%; min-height: 650px; }

.container { width: 940px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.section { height: 100%; min-width: 940px; min-height: 650px; }

.order-link { min-width: 6.125rem; padding: 10px 17px; border-radius: 5px; background-color: #e35028; color: #fff; text-decoration: none; font-size: 13px; font-weight: 500; line-height: 1.42; text-transform: uppercase; -webkit-transition: .5s; transition: .5s; }
.order-link:hover { background-color: #cd411b; }

/*# sourceMappingURL=main.css.map */