//colors
$black: #2f3234;
$orange: #f8b43a;
$green: #8ac03e;
$red: #e35028;

// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

// config
@import "config/_mixins";

//section
@import "section/_hero";
@import "section/_best";
@import "section/_burger";
@import "section/_section";
@import "section/_reviews";
@import "section/_reviews-popup";
@import "section/_logo";
@import "section/_menu";
@import "section/_nav";
@import "section/_team";
@import "section/_team-acco";
@import "section/_text-block";
@import "section/_order";
@import "section/_order-link";
@import "section/_contacts";

//layout
@import "layout/_normalize";
@import "layout/_fonts";
@import "layout/_base";
@import "layout/_adjustment";
