.footer {
  background: url("../img/footer.png") center center no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.street {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.5rem;
  margin: 0.625rem 0; }

.phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .phone {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.phone__link {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  color: #e45028;
  text-decoration: none;
  margin-left: 0.5rem; }

.footer__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; ;}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.social__item {
  margin-left: 1.25rem; }
  .social__item:first-child {
    margin-left: 0; }

.social__link {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.5;
	&:hover {
		opacity: 1; 
	}
}